<app-navbar></app-navbar>
<h2>Future Plans</h2>
<br>
<h3>Achievements</h3>
<br>
<p>Achievements will be earned based on progress in the game. Achievements will rely heavily on the honor system, but certain achievements will require an admin
to approve them after you provide proof that you meet the requirements. This can create fun and competition.</p>
<br>
<h3>Forgot Password</h3>
<br>
<p>There is no current method to recover your password on this website. There are plans to implement a forgot password feature.</p>
