<h2>Growth Modes</h2>
<div class="guide-menu-container">
  <ul>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="growthIndex">Index</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="talent">Talent</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="pokemonSpirit">Pokemon Spirit</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="artifact">Artifact</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="feat">Feat</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="timeCrystal">Time Crystal</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="soulGuard">Soul Guard</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="collection">Poke Collection</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="growthGem">Gem</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/growth']" fragment="gallery">PokeBall Achievement ( Gallery )</a></li>
  </ul>
</div>
<br>

<h3 id="growthIndex">Index</h3>
<p>Index is where you spend index deck scrolls to gain stats for all your Pokemon. Once you have obtained a Pokemon, you can activate its index. A Pokemon cannot
  have a higher index level than the number of stars it has. The maximum index level for any Pokemon is 7, while in Affinity Deck the maximum is 10. Upon leveling
  up an index, your index score will rise. As you reach thresholds, you will gain stats for all your Pokemon. You can see the effect by tapping on Development. Each time
  you increase the index level, you will also gain stats. You should focus first on the credit 13-15 Pokemon because they require far less index scrolls to max out.
  To unlock an affinity, you must get all the required Pokemon to index 7 and complete the additional conditions specific to that affinity deck. To unlock index level
  5 in an affinity index, you must get 1 advanced affinity deck scroll which can be obtained in certain events. To unlock index level 10, you will need 2 of those so
  you will need a grand total of 3 advanced affinity deck scroll to max out an affinity index. The amount of regular index scrolls wildly various, but you should
  keep in mind these provide much more index score than the others, such as God of the Ocean providing almost 20,000 index score.</p>
<br>
<br>

<h3 id="talent">Talent</h3>
<p>Talent has 3 separate trees which are unlocked based on level and having enough talent points on the previous tree. Talent does get to be expensive for gold costs
  as you get to the higher levels of some of the things you can increase. You should focus the most on tree 1 and tree 3. Tree 2 the bonuses are not as useful. You
  can obtain talent points from X-Server Vanquisher War, one per day also from Arena. Many events you can exchange event items for talent boxes.</p>
<br>
<br>

<h3 id="pokemonSpirit">Pokemon Spirit</h3>

<p>Pokemon Spirit is where you go to feed food to your Pokemon. Each time a Pokemon gains a level, its speed is increased by one point. At certain intervals the level will
  reset and the title will change such as from Strange to Acquainted and also provide a small reward. As you progress, levels require more and more exp to level up. This
  is one way to increase your team speed which will be important for winning matches. Detective Pikachu food cannot be obtained outside of its new server event. SP Pokemon
  food is also only available during its event.</p>
<br>
<br>

<h3 id="artifact">Artifact</h3>
<p>Artifact is where you can spend your artifact soul. When you do a x10 cultivation, there are checkboxes next to each one to determine if you want to use it. The bottom
  two bonuses that an artifact provides should be a top priority as they are percentage based. Each artifact will have unlock requirements which typically consists
  of getting a certain number of Pokemon to a specific advance rank. The final artifact requires 8 Pokemon that have been advanced to Red which requires level 98. An
  artifact that is easy to overlook is the Time Scepter which has bonuses for control rate and control rate immunity. This increases your chance of inflicting a status
  condition on the foe and reduces the chance your Pokemon get afflicted with the condition.</p>
<br>
<br>

<h3 id="feat">Feat</h3>
<p>Feat is a section that can be thought of as achievements. When you complete one of them, you gain speed for your entire team. Most feats have 3 stars that you can get.
  The first star is the easiest to obtain, but some of the 3 star ones get tricky or in the case of obtaining 1200 stars in stages, impossible. Doing these is highly recommended
  as many of them can at least have the first level achieved without too much effort.</p>
<br>
<br>

<h3 id="timeCrystal">Time Crystal</h3>
<p>Time crystal is where you go to get alloys on your Pokemon. At first you will have access to single draw with coin, x10 draw with coin, single draw with diamond, and
  x10 draw with diamond. You can do one single coin and one single diamond free each day. After reaching a certain level, you will unlock the x50 coin draw; unfortunately
  it is not a discount from the x10.  Coin draws can result in white, green, blue, and purple alloys. Diamond draws the highest you can obtain are orange which are around
  a 50/50 each x10 diamond draw. Unlocking Hyper Evolve 2 and Hyper Evolve 6 on Pokemon will require your crystal level to be a certain number. This number is what all the
  crystals your Pokemon has equipped are. Using white and green crystals are good early on because they cost significantly less to upgrade. Hyper 6 though requires all
  crystals on that Pokemon to be purple or higher. Red crystals provide the biggest boost and are gotten in some events and sometimes from top-up.</p>
<br>
<br>

<h3 id="soulGuard">Soul Guard</h3>
<p>Soul Guard lets you place up to 3 Pokemon eventually in chambers. These chambers provide a boost to all your Pokemon. There is first the base stat gains which are
  determined by the level the chamber is. There are also 3 bonuses you can get. One bonus is what credit the Pokemon is; credit 17 Pokemon provide the biggest bonus.
  The second bonus is what advance rank that Pokemon is at. Note that there is currently a bug where Red +1 does not provide a bonus. The final bonus is based on the
  hyper evolve stage of the Pokemon. Hyper 6 provides the biggest bonus. Soul guard requires awaken alloys, soul guard ore, and lots of gold. It is more of an end game
  thing because the cost to benefit is small.</p>
<br>
<br>

<h3 id="collection">Poke Collection</h3>
<p>Collection has many Pokemon in it. Each Pokemon has 4 columns and 6 rows. The first 2 columns require coins while the other 2 columns require diamonds to purchase.
  The Pokemon get stronger the further down the row you go. Each Pokemon you buy from it increases the bonus value. The Pokemon's star level and advance rank also influence
  the bonus it provides. Each collection has a set number of Pokemon in it and improves the stats of a specific type of Pokemon such as Atk. It is easy to spend a lot of
  gold or diamonds here without realizing it. I recommend avoiding the 4th column until you get all the other Pokemon with 3 columns because of the vast difference in
  diamond price.</p>
<br>
<br>

<h3 id="growthGem">Gem</h3>
<p>Each Pokemon can have 1 exclusive gem and 3 regular gems. Exclusive gems are gotten from events or for VIP players, there are some ways to get an exclusive gem
  selection box. Exclusive gems cost more to level up, but they also are not ones you would ever replace. The normal gems you will want to use as many red gems as
  possible because they provide the biggest boost to stats. Gems of Speed are the most used because they increase the speed by 100 points. As far as what specific bonus the
  gem should have on the Pokemon, that depends entirely on the Pokemon. There are plans to write guides for individual Pokemon and team composition that would cover these
  kind of things. Red gems you can use the Replace function to try and get a different trait or bonus. Dissolving Gems deletes them from your inventory and gives you some
  gem essence which is used for Replace Gem and for breakthrough every 10 gem levels. For details on what each of the gems do, visit the gems page.</p>
<br>
<br>

<h3 id="gallery">Gallery</h3>
<p>Gallery is the place where you can amass a ton of power. There are 5 galleries total with each requiring a specific number of points to unlock. There is a separate point
  threshold for unlocking star-up on that gallery. Each gallery has 30-31 paintings that require one or more specific Pokeball Pokemon. Golden Pokemon are the hardest to get
  and can only be obtained with the advanced imprison scrolls. If you have all the Pokemon needed to activate a painting, it will let you know. Do activate more paintings
  before starring up other ones. Do activate the paintings that require less golden Pokeballs because the bonuses gained from reaching point thresholds is great. Use Capture
  to obtain more Pokeball Pokemon. The regular scrolls you can do up to 50 draws per day, while the red one is virtually limitless. You get rewards after a certain number of draws
  on the red one. For details on gallery bonuses, check the Gallery Page.</p>
