<app-navbar></app-navbar>
  <p>The website will always remain free to access. If you would like to donate to help support the cost of operations, you are free to do so. At this time I only
    can accept donations via Paypal. I can look into other methods if there is interest. Should you wish to donate, you can choose whether you would like to show
    up on the list of users who have donated. If you would like to be on the list, I will need to know the account name you used for your donation and your username
    on the website. This can be sent as a message on Discord: Latios#2778. Please allow up to 24 hours for the website to reflect your donation.</p>
  <br>
  <a href="https://paypal.me/MarkJanssen?country.x=US&locale.x=en_US" class="external-link" id="paypalLink" title="Paypal Donation Link" target="_blank">
    <button class="btn btn-primary">Paypal Donation</button>
  </a>
  <h3>Users Who Have Donated</h3>
  <br>
  <table class="table table-info table-bordered" id="donationTable">
    <thead>
    <tr>
      <th>Username</th>
      <th>Donation Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let donation of allDonations">
      <td>{{ donation.username }}</td>
      <td>{{ donation.date }}</td>
    </tr>
    </tbody>
  </table>
