<h2>Quench Guide</h2>
<p>Quenching is unlocked by making a gear 5 star. This will require a total of 62 awaken alloys ( 2 + 4 + 8 + 16 + 32). For weapons, badges, and evolve gems, you will
  need a total of 8 of them to get it unlocked ( 1 + 1 + 2 + 2 + 2 ). Quenching not only provides a base bonus just by leveling it up, but also provides special effects.
  Each piece of gear can be quenched up to level 15. Every 3 levels the gear will gain a new effect until it has a total of 3 effects. After that, each additional 3 levels
  will increase one of the effects to the next level. When the gear is quenched to level 15, it can have a total of 6 for effect levels. This can be 1, 1, 4; 1, 2, 3;
  or 2, 2, 2. One of the most useful things about quenching is to gain initial rage because if you can get the Pokemon's initial rage to 1000, it is able to Ultimate
  on its first turn. If you don't like the effects you got, you can use replacement stones to try for a new set of abilities. If you did not lock an effect, you can
  only get one effect of that type. If you do use a locking stone for one effect, it is possible that using a replacement stone you can get the same effect again.
  This is what some people do to try and get 2 sets of initial rage.</p>
<br>

<p>Each Pokemon is different so there is no one-size-fits-all approach for quenching. If the Pokemon has 1000 rage already, you should aim for damage bonus, damage
  reduction, and block bonus. Damage bonus will provide the most CR, although defensive Pokemon do not gain as much benefit from it. Defensive Pokemon should try hard for
  damage reduction and block bonus. Attacking Pokemon gain from offensive stats. Percentages are always better than numeric values since their increase is directly related
  to how strong the particular stat is.</p>
<br>

<p>Leveling up quenching will require specific items based on the gear you are going to quench. There is also a selection box that lets you pick which kind of
  gear quenching item you need. This item is a daily top-up reward for those who are VIP. You can also purchase the quenching items on specific days and also during
  the league assembled event. It takes close to 400 quench items to reach level 15.</p>
