<h2>Adventure Modes</h2>
<div class="guide-menu-container">
  <ul>
    <li><a class="guide-link text-light" [routerLink]="['/guides/adventure']" fragment="eventsStage">Events Stage</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/adventure']" fragment="pokemonTrial">Pokemon Trial</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/adventure']" fragment="purifyPokemon">Purify Pokemon</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/adventure']" fragment="explore">Explore</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/adventure']" fragment="worldBoss">World Boss</a></li>
  </ul>
</div>
<br>

<h3 id="eventsStage">Events Stage</h3>
<p>
  Events Stage is where your daily training is done. You can get gold, exp potions, food, and shards depending on the stage you play. The higher the difficulty of the stage,
  the better the rewards. Each of these stages can only be played a certain number of times per day. The bottom two stages are only available on certain days of the week.
  All stages are available on Sunday.
</p>
<br>
<br>

<h3 id="pokemonTrial">Pokemon Trial</h3>
<p>
  In Pokemon Trial, you bring a team of up to 6 Pokemon with you. When you defeat a floor you gain stars according to how many of your Pokemon are alive and the difficulty of the stage.
  In the beginning of the game, you might not be strong enough to get to the top. That is fine, just go however far you can go. In time you will become strong enough to get to the top.
  After defeating a floor you will either get a treasure chest that contains a prize or the chance to purchase buffs. Unless there is an event going on, I highly discourage
  using diamonds to be able to open the treasure chests additional times. If you have the option to purchase buffs, generally increasing your attack and critical rate is the
  best method to go for. You may need Bloodsucking which makes it so your Pokemon heal themselves each time they attack. Late game you will not need this. As you play this mode,
  you will gain trial coins which can be used to purchase items from the trial store. Some players choose to get keys as often as they can, however, I believe saving the trial points
  for Red Ability Chests will be greater use, especially for free to play users since Red Ability Chests are hard to get. You can also gain rewards every time you hit a score threshold.
</p>
<br>
<br>

<h3 id="purifyPokemon">Purify Pokemon</h3>
<p>
  When you unlock Purify Pokemon, you can challenge one of six potential Pokemon as long as you have obtained that Pokemon. You can either join an existing team or
  create your own team. Make sure to send an invite out because you get more rewards the more people who join your team to fight that Pokemon. When you defeat the Pokemon
  you will get some rewards which usually includes 1 shard of the Pokemon you were fighting. You can choose to purchase the other box, but 50 diamonds is not worth it.
  Purify Pokemon is a good way to gain shards for the credit 14 and 15 Pokemon.
</p>
<br>
<br>

<h3 id="explore">Explore</h3>
<p>
  Explore is a fun mode that gets you decent rewards. Each event space can be one of several things. Rest Stop is just plain. Quiz questions enable you to answer a question
  correctly to gain explore coins. There are also Capture events where Pokemon will walk across the screen and you have the chance to capture them. This is the best way to get
  any credit 14 and 15 Pokemon. Most of the time you capture a Pokemon you will get from 1-3 shards. If you are extremely lucky, you can get a 2* of that Pokemon which yields
  20 shards. Solo Challenges enable you to test your team against a boss. When you win, you will get rewards which includes exp potions, food, and sometimes Pokedex Shards.
  Boss Challenges also let you test your team against a boss battle. Unlike solo challenges, you can gain the opportunity to skip the battle and get the rewards. You
  are also able to fight boss's from another player up to 3 times per day. Take advantage of this because it is a great source of exp potions.</p>

<p>The shop contains Pokedex shards which are used to fill the Pokedex. Always buy Scyther shards when you can because it is not available in the pokedex shard selection
  bag. You can also find rare shards such as Totodile which doesn't appear in capture. Do not bother to save up for awaken weapons in the Explore Shop as they are not
  worth it. The Pokedex can increase the stats of Pokemon. There are also a select few spaces that increase the speed of your team. Those spaces should be a priority
  because going first can often make the difference between winning and losing a fight. It should be noted that only the first two Pokedex can be accessed at this time.
</p>
<br>
<br>

<h3 id="worldBoss">World Boss</h3>
<p>
  World Boss opens after your server has been open for a specific number of days. A boss appears with a large amount of health. Everyone from your server is able to fight it
  to take it down. Each time it is defeated, it will be one level higher the next time until it reaches the level cap. Failure to defeat the boss in time will result
  in the boss going down 10 levels which greatly reduces its HP. Fighting the boss results in gaining soul guard materials, some gold, and 1 free key per day. Each time
  you fight the boss, you will have a cooldown period where you cannot attack the boss. You can eliminate this cooldown buy using diamonds to bypass it. You can
  get an additional chest key each day if you do a diamond recharge 3 times against the world boss in a given day. The cost to do 3 diamond recharge is 60 diamonds total.
  The World Boss is available at noon and 9PM central time.
</p>
