<app-navbar></app-navbar>
<div id="guideTab">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav" *ngFor="let guide of guideNames">
      <li class="nav-item">
        <a [routerLink]="['/guides/', guide.slug]" (click)="changeActiveGuide(guide.slug)">
          <button class="btn btn-primary">{{ guide.name }}</button>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div id="growthPage" *ngIf="activeGuide == 'growth'">
  <app-guides-growth></app-guides-growth>
</div>

<div id="adventurePage" *ngIf="activeGuide == 'adventure'">
  <app-guides-adventure></app-guides-adventure>
</div>

<div id="arenaPage" *ngIf="activeGuide == 'arena'">
  <app-guides-arena></app-guides-arena>
</div>

<div id="hyperEvolvePage" *ngIf="activeGuide == 'hyper evolve'">
  <app-guides-hyper-evolve></app-guides-hyper-evolve>
</div>

<div id="quenchPage" *ngIf="activeGuide == 'quench'">
  <app-guides-quench></app-guides-quench>
</div>
