<h2>Hyper Evolve</h2>
<br>

<p>Hyper evolving makes your Pokemon stronger by increasing its stats. When you get a hyper evolve level to 10, you can get a bonus. Hyper 1 increases your Pokemon's
  base attack by 5%. Hyper 2 increases one of the Pokemon's passive skills. Hyper 3 increases the chance of using a skill attack instead of a normal attack by 6%.
  Hyper 4 makes your skill attack better. Hyper 5 increases your max hp by 20%. Finally, Hyper 6 makes your ultimate skill stronger.</p>
<br>

<p>Each Hyper Evolve level has specific requirements. Hyper 1 requires the Pokemon advance rank to be orange +1 which is level 73. The Pokemon is required to have 40
  spirit. Each spirit can be up to level 20. The Pokemon is also required to be 5* or higher. Hyper 2 requires Hyper 1 be at a certain progress, your gear awaken stars to
  be 10 or higher, and the crystal level to be 600 or higher. You will have to manually check your crystal level by going under Growth and selecting Time Crystal. Hyper 3
  requires orange +2 rank, spirit level 60 or higher, and Hyper 2 level 8 or higher. Hyper 4 requires Hyper 3 at level 8 or higher, the Pokemon to be at 6* or higher, and
  3 specific Pokemon to reach advance rank purple +3. Hyper 5 requires orange +3, Hyper 4 fully completed, and those 3 specific Pokemon to have Hyper 2 unlocked. Finally,
  Hyper 6 has the strictest requirements. It requires completion of Hyper 5, all time crystals equipped to that Pokemon must be purple, orange, or red and their level has
  to add up to 1200 or higher. This means each crystal will need to average around level 65.
</p>
<br>

<p>All hyper evolve levels will require shards of that Pokemon; the lower hyper levels require less. Hyper 6 takes around 70 shards. You will also need gold and
  awaken alloys for each of them. You will also need a copy of that Pokemon's evolve gem and badge. Hyper 6 requires a copy of that Pokemon's exclusive awaken
  weapon. This can sometimes be easier by demoting your weapon to a lower star since you'll get the materials back from it and the increase you'll get from Hyper 6
  far outweighs the extra star on the weapon.</p>
