<app-navbar></app-navbar>
<h2>Change Password</h2>
<div id="error" class="alert alert-danger" *ngIf="error">{{ error }}</div>
<form id="change-password-form" [formGroup]="changePasswordForm">
  <div class="row">
  <label for="currentPassword" class="col-2">Current Password</label>
  <input type="password" name="password" id="currentPassword" formControlName="currentPassword" class="col-1" required>
  </div>
  <div class="row">
    <label for="newPassword" class="col-2">New Password</label>
    <input type="password" name="newpassword" id="newPassword" formControlName="newPassword" class="col-1" required>
  </div>
  <div class="row">
    <label for="confirmPassword" class="col-2">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" class="col-1" required>
  </div>
  <br>
  <div class="row">
    <button class="col-1 btn btn-primary" (click)="goBack()">Go Back</button>
    <div class="col-1"></div>
    <button (click)="changePassword()" class="btn btn-primary col-1">Change Password</button>
  </div>
</form>
