<div id="rulesPage">
  <h2>Rules</h2>
  <ol>
    <li>Be respectful to all players and developers.</li>
    <li>No selling or trading accounts will be tolerated. It is against the Terms of Service in the game. You can easily get scammed.</li>
    <li>If you have negative feedback, it needs to be constructive. Even better if you have solutions to them. You can also email debrabowman1989@gmail.com.</li>
    <li>Racism and Homophobia will not be tolerated. THis will be met with a permanent ban from resources.</li>
    <li>Do not offer to make payments for another user. You could easily get scammed.</li>
    <li>Please keep content to English. If you need to use Google Translate, we can try and figure out what you mean.</li>
  </ol>
  <h2>Staff</h2>
  <ul>
    <li>MKappa ( Facebook, Discord, Website )</li>
    <li>Free2play_S201 ( Facebook, Discord, Website )</li>
    <li>Latios_S268 ( Website )</li>
  </ul>
  <button type="button" (click)="RulesAgree()">I Agree to the rules ( Unlocks Content )</button>
</div>
