<div id="rulesPage">
  <h2>Rules</h2>
  <ol>
    <li>Be respectful to all players and developers.</li>
    <li>No selling or trading accounts will be tolerated. It is against the Terms of Service in the game. You can easily get scammed.</li>
    <li>If you have negative feedback, it needs to be constructive. Even better if you have solutions to them. You can also email debrabowman1989@gmail.com.</li>
    <li>Racism and Homophobia will not be tolerated. This will be met with a permanent ban from resources.</li>
    <li>Do not offer to make payments for another user. You could easily get scammed.</li>
    <li>Please keep content to English. If you need to use Google Translate, we can try and figure out what you mean.</li>
    <li>You are required to be 13 years of age or older in order to sign-up for an account on the website. This is due to privacy laws.</li>
  </ol>
  <h2>Staff</h2>
  <ul>
    <li><span class="admin">MKappa</span> ( Facebook, Discord, Website )</li>
    <li><span class="admin">Free2play_S201</span> ( Facebook, Discord, Website )</li>
    <li><span class="admin">Latios_S268</span> ( Website )</li>
  </ul>
  <button type="button" (click)="RulesAgree()">I Agree to the rules ( Unlocks Content )</button>
</div>
