<h2>KO Contest Modes</h2>
<div class="guide-menu-container">
  <ul>
    <li><a class="guide-link text-light" [routerLink]="['/guides/arena']" fragment="arena">Arena</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/arena']" fragment="vanquisherWar">Vanquisher War</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/arena']" fragment="guildWar">Guild War</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/arena']" fragment="x-serverVanquisherWar">X-Server Vanquisher War</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/arena']" fragment="x-serverMineWar">X-Server Mine War</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/arena']" fragment="championTrial">Champion Trial</a></li>
    <li><a class="guide-link text-light" [routerLink]="['/guides/arena']" fragment="squadArena">Squad Arena</a></li>
  </ul>
</div>
<br>

<h3 id="arena">Arena</h3>
<p>
  In Arena, you are fighting it out to get to the top ranks. At the end of each day you will get a reward based on your ranking. This includes diamonds and arena coins.
  The arena coins can be spent in the Arena Shop. Rebirth items will be something to go after in the late game. In the early game, going after the advanced exp badge
  is your best bet. This badge is used to increase the level your Pokemon's badge is. You are allowed 6 Pokemon on your team. The speed is determined by the total speed
  of all Pokemon you own. You only need 500 rage to use an Ultimate Skill in this mode. Speed will win more often than power, so focus on gaining good amounts of speed.
  See the FAQ to check ways you can increase your team's speed. There are rewards for reaching certain ranks in the arena. The arena takes place on just your own server.
</p>
<br>
<br>

<h3 id="vanquisherWar">Vanquisher War</h3>
<p>
  Vanquisher War allows you to send 10 of your Pokemon into battle. The first 10 fights are used to determine who qualifies for the top 8. If you lose 3 battles in
  the qualifying rounds, you are out. The qualifying rounds are 1 on 1 battles. Mega Aggron and Ash-Greninja perform amazing here and almost never lose due to their
  passive abilities. You should mostly avoid defensive Pokemon and instead focus on offense because if you can't KO the opposing Pokemon within the allotted turns,
  you lose. The top 8 is 3 on 3 battles. The turn order is decided by the team with the most speed first. After that, players take turns. It doesn't recalculate speed
  after a Pokemon faints. The battles require 1000 rage to be able to use an Ultimate Skill. All arena battles use the individual Pokemon speed for the qualifying rounds
  and the combined speed of all 3 Pokemon on a team for the championship rounds. You can bet on a player to gain gold if that player wins. The lower the odds of that player
  winning, the greater the payout is much like in real life horse races. After Vanquisher War is completed for the day, the rewards are distributed based on ranking. Ranking
  has tiebreakers. Whoever wins the finals match wins the entire tournament. After that the player with the most wins is the next in line. If two or more players are
  tied, it goes to the player with the most points. Points are earned based off the damage dealt to enemies. You are able to exchange for rewards including Advance Potions.
</p>
<br>
<br>

<h3 id="guildWar">Guild War</h3>
<p>
  Guild War is a competition that takes place across your entire server. Each guild can have as many members from it fight as they want. Depending on the day of the week,
  there are restrictions as to which Pokemon can participate. Some days are attack only, some defense only, and some skill only. There are also some days where any Pokemon
  is allowed to participate. You get two teams comprising of three Pokemon for most days. The pairings are randomly generated with players sometimes getting a bye. It is a
  double elimination format meaning you have to lose twice ( once with each of your teams ). When a match is over, your future matches your Pokemon start at the same health
  that they had remaining from the previous fight. Be the player who is the last one with a team remaining to win. Saturdays are the finals where you can bet on a guild to
  win. Only the guilds who qualified can participate. There does need to be 8 guilds in order to have a finals for Guild War. Rewards are distributed after the tournament is
  concluded. The most notable prizes include Advanced Potions and Gem Boxes. You can also get Dratini shards which are rare to get otherwise.
</p>
<br>
<br>

<h3 id="x-serverVanquisherWar">X-Server Vanquisher War</h3>
<p>
  X-Server Vanquisher War functions almost identically to Vanquisher War. The main difference is that the tournament is across multiple servers which will be listed.
  It is much harder to qualify and win in x-server because there will be many more players in these tournaments. Sometimes you can get a lucky schedule and not face
  players that are active or who have low power. This does become a double-edge sword though because you might not be able to do enough damage to get to the final
  rounds. You do not lose automatically after 3 losses which is a major difference compared to regular vanquisher. The prizes include talent point boxes and
  some credit 16 Pokemon. It generally is not worth it to exchange for the random Articuno / Zapdos / Moltres shard.
</p>
<br>
<br>

<h3 id="x-serverMineWar">X-Server Mine War</h3>
<p>
  X-Server Mine War is a competition between 4 servers. Each rank provides a certain number of points with the higher rankings providing the most points. Higher rankings
  also enable you to gain more Ore quickly. You are able to attack players up to 3 times for free each day of the Server Mine War. If your power is lower than theirs, they
  aren't on the same server as you, and are a higher rank, you are able to gain Ore if you win. Up to 80,000 Ore can be obtained in a single attack. At the end of each day you
  will receive Ore based on your position. At the end of the event, players will receive Ore based on the rank their server had in the competition. The most valuable item in
  the shop is the Golden PokeBall Selection. This rare item allows you to get one Golden Pokemon for use in the Pokemon Gallery.
</p>
<br>
<br>

<h3 id="championTrial">Champion Trial</h3>
<p>
  Champion Trial is the ultimate test of strength, speed, and team building. It begins on Mondays where a select group of servers are competing to get the best rank.
  You are able to command 3 teams of 6 Pokemon. You must win a battle with at least 2 of your teams to gain points. If you win, you gain points; if you lose, you lose points.
  Other players are able to attack you and based on the results, your points can fluctuate. The rating system using an ELO type of system which basically means that high
  points players gain few points if they win against a player with low rating. If you have played Pokemon Showdown or played in official Pokemon Tournaments, it is the same
  type of system at work. The K value is rather small for these battles. It is rare for a match to award more than 20 points to a player when they win. You can have a maximum
  of 12 attacks at any one time. When you are not at the maximum number of attacks, you can get one attack back per hour. When you choose to fight, you will see up to 3
  opponents. If you don't like any of them, you can refresh it to try fighting someone else. Keep in mind that if you are in 4th place or higher, it is fixed who you can fight.
</p>
<br>

<p>You qualify for the finals by being in the top 10 from your group of servers in the preliminary round. The preliminaries end on Wednesday when the World Boss appears.
  There is a countdown timer that displays so you can keep an eye on how much time is remaining. The finals takes place across all servers where you will see players
  such as MKappa, Latios, and Jeff who all hold immense CR teams. On Fridays you are able to place a bet on the winner and can get 500 diamonds if you are correct.
  One thing to keep in mind is that the final minutes of the finals are vicious where most players use their attacks. We are trying to figure out a solution to make things
  better for everyone and pass it along to devs because if a player is not available shortly before the end of the event, their ranking can suffer greatly. The shop
  contains very nice items including shards of some credit 17 Pokemon and some Awaken Weapons. If you need to star-up credit 16 Pokemon, you can easily do that in this shop
  as well.</p>
<br>
<br>

<h3 id="squadArena">Squad Arena</h3>
<p>
  Squad Arena lets you partner with 2 other people on your server to form a team. Each player on the team submits a team of 6 Pokemon. This competition takes place across
  multiple servers. Sometimes you will be lucky and be the lowest number server and other times you will be near the high end. In any case, the team leader can attack other
  teams. A battle is decided by a team getting 2 victories. The Squad Arena uses an ELO system just like for Champion Trial. Teams are formed on Tuesdays and the tournament
  ends on Thursdays at midnight central time. Like Champion Trial, each team has a stamina counter for how many attacks they can do that has a maximum of 12 and regenerates
  1 per hour if it is not at the max. The squad with the most points is the winner. Prizes are awarded based on placement. This will generally be your biggest source of
  champion arena coins.
</p>
